@model IEnumerable<HelpQueue.Models.Cohort.CohortListItem>

@{
    ViewBag.Title = "All Classes";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionCount)
        </td>
        <td>
            @Html.ActionLink("Queue", "Queue", new { id = item.Id }) |
            @Html.ActionLink("Manage Cohort", "Edit", new { id = item.Id })
        </td>
    </tr>
}
</table>
