@model HelpQueue.Models.Cohort.CohortDetail
@using HelpQueue.Models.Questions

@{
    ViewBag.Title = Model.CohortName;
}

<h2>@Model.CohortName</h2>

<div>
    <div class="row" style="margin-bottom: 1em;">
        <h4 class="col-md-8">Help Queue</h4>
        @Html.Partial("_HelpRequestButton", new QuestionCreate { CohortId = Model.CohortId })
    </div>
    @foreach (var item in Model.Questions)
    {
        @Html.Partial("_Request", item)
    }
</div>
<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        @Html.ActionLink("Manage Students", "Edit", new { id = Model.CohortId }) <span>|</span>
        @Html.ActionLink("Back to List", "Index")
    }
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}